.cards {
   min-height: 100vh
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
}
.card { 
  flex: 0 0 250px;
}
header{
    background-color: gray;
    height: 100px;
}
ul{
    padding:0;
}
li{
    background-color: #C4C4C4;
    height: 30px;
    list-style-type: none;
    margin: 0px 10px 10px 10px;
}
button{
    height: 20px;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
section{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #E7E7E7;
}