.form {
  display: flex;
  height: 40px;
  margin-bottom: 5px;
}
.form__field {
   flex: 1;
   border-color: #808080;
}
.form__item {
    background-color: #E7E7E7;
    border-color: #808080;    
}
.form__item-2{
    order:-1;
}
