body{
    display: flex;
    flex-direction: column;
}
.main{
    flex:1;
    background-color: #523a6b;
}

header,footer{
    height: 50px;
}
header{
    display: flex;
    background-color: #523a6b;
    align-items: center;
    justify-content: space-between;
}
footer{
    background-color: #9d81ba;
}
a{
    align-self: center;
    flex: 1;
    border: none;
    outline: none;
    background-color: #523a6b;
}
.a{
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}
align-end{
    align-self: flex-end;
}
.media {
   display: flex;
   align-items: flex-start;
   padding: 1em;
   max-width: 24em;
}
.media-body {
   flex: 1;
   color: white;
}
.media-object {
  margin-right: 0.4em;
  font-size: 3em;
  width: 10vh;
  height: auto;
}
.media-heading {
  margin: 0 0 0.5em;
}
